.App {
  text-align: center;
}

.dark .App {
  background-color: var(--background);
}

.container {
  max-width: 100vw;
  min-height: auto;
  margin: 0 auto;
  padding: 4rem 2rem 2rem 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0;
}

.dark .container {
  background-color: var(--background);
}

:root {
  --primary-colour-dark: #fcd5ce;
  --primary-colour-light: #f8f9fa;
  --primary-colour-black: #212529;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  /* 10px / 16px = 0.625 = 62.5% */
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  line-height: 1;
  font-weight: 400;
  overflow-x: hidden;
  transition: background-color 0.3s ease, color 0.3s ease;
}

@media (max-width: 768px) {
  html {
    font-size: 50%;
  }
  
  .container {
    padding: 2rem 1rem;
    min-height: auto;
    justify-content: flex-start;
  }
}
